.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

img {
  width: 300px;
  height: 300px;
}

.textoFrase {
  font-style: italic;
  color: #dd7b22;
  text-shadow: 2px 2px 5px #fff;
  text-align: center;
}
